<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Flipping Cards create cards</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="flashcards-app">
  <div>
    <input type="text" placeholder="Enter question here" v-model="questionField">
    <input type="text" placeholder="Enter answer here" v-model="answerField">
    <br>
    <input type="radio" id="history" value="history" v-model="categoryField">
    <label for="history">History</label>
    <input type="radio" id="math" value="math" v-model="categoryField">
    <label for="math">Math</label>
    <input type="radio" id="science" value="science" v-model="categoryField">
    <label for="science">Science</label>
    <br>
    <button v-on:click="submit">Submit</button>
  </div>
  <br>
	<div v-for="(item, index) in cards">
		<div class="card" v-on:click="cardFlip(index)">
			<div class="top" v-bind:class="item.category"></div>
			<div class="side1" v-bind:class="{hide:item.flipped}">
				<h1>{{item.question}}</h1>
			</div>
			<div class="side2" v-bind:class="{hide:!item.flipped}">
				<h1>{{item.answer}}</h1>
			</div>
		</div>
	</div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.8/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
